@model IEnumerable<D_Cars_.Models.Sucursales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num_telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num_telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Imagenes/editing.png"width="20" /></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Imagenes/detalles.png"width="20" /></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Imagenes/delete.png"width="20" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
